
<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DeMatch. Our company focuses on creating an exclusive community 
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia at voluptas quidem tempore velit rerum illo, dolore quae! Quam, aliquid eligendi nulla placeat perspiciatis, consequatur voluptatibus laudantium saepe ipsam.</p>
</div>